body {
    background: #eee9e2;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example {
    width: 600px;
}